@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Patrick+Hand&display=swap');

body{
    margin: 0;
    padding: 0;
    background-image: url("../assets/icons/MascotaFeliz.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', cursive;
    font-family: 'Patrick Hand', cursive;
}

.left{
    height: 120vh;
    width: 50%;
}

.right{
    height: 120vh;
    width: 50%;
}

.form-check-input{
    color: gray;
}

.down{
    height: 50vh;
    width: 100%;
}

.btn-primary{
    background-color: burlywood;
    border-color: white;
}

#secciones{
    display:flex;
}
