<nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="sass.html">Sass</a></li>
    <li><a href="badges.html">Components</a></li>
    <li><a href="collapsible.html">Javascript</a></li>
    <li><a href="mobile.html">Mobile</a></li>
  </ul>
  <!-- <a href="#">
    <img src="./pets-svgrepo-com.svg" alt="logo" />
  </a>
  <nav>
    <a href="./index.html">Nosotros</a>
    <a href="#">Servcios</a>
    <a href="#">Galeria</a>
    <a href="#">Contacto</a>
    <a href="./src/pages/signin.html">Login</a>
  </nav> -->